

<%- include('partials/_header') %>

<style>
    #custom-image {
      width: 250px;
      height: 200px; /* Ajusta el tamaño de las imágenes según tus necesidades */
    }

  .product-wap {
    height: 100%; /* Establece una altura fija para las cartas */
  }
</style>


<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="w-100 pt-1 mb-5 text-right">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div
      <form action="" method="get" class="modal-content modal-body border-0 p-0">
          <div class="input-group mb-2">
              <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
              <button type="submit" class="input-group-text bg-success text-light">
                  <i class="fa fa-fw fa-search text-white"></i>
              </button>
          </div>
      </form>
  </div>
</div>



<!-- Start Content -->
<div class="container py-5">
  <div class="row">

   

      <div class="col-lg-9">
          
          
           <!-- Empieza las carts-->
           <div class="row">
            <% data.forEach(function(product) { %>
              <div class="col-md-4">
                <div class="card mb-4 product-wap rounded-0">
                  <div class="card rounded-0">
                    <img class="card-img rounded-0 img-fluid custom-image" src="<%= product.img_url %>" id="custom-image">
                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                      <ul class="list-unstyled">
                        <li>
                          <form id="add-to-cart-form" action="/carrito/add" method="post" >
                            <input type="hidden" name="id_producto" value="<%= product.id %>">
                            <input type="number" name="cantidad" id="cantidad" value="1" min="1">
                            <input type="number" name="precio" value="<%= product.precio %>" id="precio" min="1" step="0.01" style="display: none;">
                            <button type="submit" class="btn btn-success text-white mt-2"><i class="fas fa-cart-plus"></i></button>

                          </form>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="card-body">
                    <a href="shop-single.html" class="h3 text-decoration-none"><%= product.nombre %></a>
                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                      <li>Talla: <%= product.talla %></li>
                      
                    </ul>
                    <p class="text-center mb-0">S/<%= product.precio %></p>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
          
          
              
          </div>
          <div div="row">
              <ul class="pagination pagination-lg justify-content-end">
                  <li class="page-item disabled">
                      <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                  </li>
              </ul>
          </div>
      </div>

  </div>
</div>
<!-- End Content -->




<%- include('partials/_footer') %>


